@use '../2-tools/mixin' as *;


// 12カラムのグリッドシステム   
.l-columns {
    display: flex;
    // 折り返しがつく様になる
    flex-wrap: wrap;
    // 列だけの余白 変数を使っておけばvariableファイルの数値を直せば全て変えられる！
    column-gap: calc(var(--col-gap) * 1%);


    // 配置のバリエーション
    &--start {
        justify-content: start;
    }

    &--center {
        justify-content: center;
    }

    &--end {
        justify-content: end;
    }

    &--between {
        justify-content: space-between;
    }

    &--evenly {
        justify-content: space-evenly;
    }

    &--evenly {
        justify-content: space-evenly;
    }

    &--around {
        justify-content: space-around;
    }



    // // 確認用色つけ(*=は〜を含むという意味)
    // // @at-rootで「l-culums」から抜け出している
    // @at-root[class*="l-columns__col"] {
    //     // borderと違ってレイアウトに影響が出ない
    //     outline: 1px solid orange;
    //     background-color: rgba(orange, .2);
    // }



    // フレックスアイテムの基本幅
    // 「>」は子要素限定、「*」はどんな要素でも＝「.l-columnsの子要素のどんな要素でも」
    &>* {
        width: 100%;
    }

    // １カラムが全体幅の5.4%の幅になるよ！
    // .l-columns__col##が出来上がる
    @for $i from 1 through 12 {
        @if $i ==1 {

            // 1カラム分なら=カラム幅x1
            &__col#{$i} {
                width: calc(var(--col-width) * #{$i} * 1%);
            }
        }
        @else {

            // ２カラム分以上なら=カラム幅x2+カラムギャップx1
            &__col#{$i} {
                width: calc(var(--col-width) * #{$i} * 1% + var(--col-gap) * #{$i - 1} * 1%);
            }
        }
    }



    // PCバージョン
    @include mq {
        // &--pc {
        //     display: flex;
        //     flex-wrap: wrap;
        //     column-gap: calc(var(--col-gap) * 1%);
        // }

        @for $i from 1 through 12 {
            @if $i ==1 {
                &__col#{$i}--pc {
                    width: calc(var(--col-width) * #{$i} * 1%);
                }
            }

            @else {
                &__col#{$i}--pc {
                    width: calc(var(--col-width) * #{$i} * 1% + var(--col-gap) * #{$i - 1} * 1%);
                }
            }
        }
    }
}