@use '../2-tools/mixin' as *;

// ヘッダー、フッター、ナビゲーションなどのレイアウトに関するスタイル

// コンテナ
.l-container {
    // inline,,,横軸,block、、、縦軸
    padding-inline: 24px; // padding-left, padding-right
    margin-inline: auto; // margin-left, margin-right
    // 1160 + 24 + 24 = 1208
    max-width: 1208px;
}

// ヘッダー
.l-header {
    background-color: var(--white);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    // 横幅が画面サイズと同じになる
    width: 100%;
    padding-inline: 24px 14px;
    display: flex;
    justify-content: space-between;
    // 垂直中央
    align-items: center;
    z-index: 1000;

    // ロゴ
    &__logo {
        width: 140px;
        margin: 0;
        // 親要素が縮んでもこの（中の）要素あ縮まない！
        flex-shrink: 0;
    }

    // ボタン（ハンバーガーの大枠）
    &__navBtn {
        width: 44px;
        height: 44px;
        border: none;
        // background: none;
        background: yellow;
        flex-shrink: 0;
        position: relative;
    }

    // ハンバーガーの中身（３本線）
    &__navBtn span,
    &__navBtn::before,
    &__navBtn::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color: var(--main-color);
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    &__navBtn::before {
        top: calc(50% - 9px);
    }
    &__navBtn::after {
        top: calc(50% + 9px);
    }

    // 【SP】ナビゲーション内容
    &__nav {
        position: fixed;
        inset: 0; //top, bottom, right, left : 0
        background-color: var(--main-color);
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // place-items: center; // justify-items, align-items : center
    }

    // 【SP】閉じるボタン
    &__navClose {
        position: absolute;
        right: 16px;
        top: 16px;
        // タップできる領域：macとかも42~44くらいにしている
        width: 44px;
        height: 44px;
        border: none;
        background: none;
    }
    // 【SP】閉じるボタン中身
    &__navClose::before,
    &__navClose::after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }
    &__navClose::before {
        rotate: 45deg;
    }
    &__navClose::after {
        rotate: -45deg;
    }

    
    &__navLogo {
        width: 110px;
        margin-bottom: 16px;
    }

    &__navList {
        list-style: none;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__navList a {
        display: block;
        padding-block: 12px;
        color: var(--white);
    }

    &__navItemEn,
    &__navItemJa {
        // 英語日本語が縦並びになる！
        display: block;
    }

    &__navItemEn {
        font-family: var(--font-family-en);
        font-size: 1.6rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }


    &__navItemJa {
        font-size: 1.2rem;
    }

    &__onlineShopPc {
        display: none;
    }


    // PC
    @include mq {
        padding-inline: 16px 0;

        // ボタン
        &__navBtn {
            display: none;
        }

        // ナビゲーション
        &__nav {
            // ★ここを追加！消したものを再び表示させる
            display: flex;
            position: static;
            // position:initial でもOK
            background-color: transparent;
            flex-direction: row;
            // 余っているスペースをどれだけもらうか
            flex-grow: 1;
            justify-content: end;
            height: 100%;
        }

        &__navClose {
            display: none;
        }

        &__navLogo {
            display: none;
        }

        &__navList {
            flex-direction: row;
            margin-bottom: 0;
            width: 100%;
            justify-content: end;
            height: 100%;

        }

        &__navItem {
            //flex- grow:0（伸びない） shrink:1（縮む！） basis(ベースサイズ)
            flex: 0 1 140px;
        }

        &__navList a {
            padding-block: 0;
            color: var(--text-color);
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        &__navItemJa {
            color: var(--main-color);
        }


        &__onlineShop {
            height: 100%;
            // display: flex;

        }

        &__onlineShopPc {
            display: flex;
            align-items: center;
            column-gap: 8px;
            height: 100%;
            padding-inline: 24px;

            background-color: var(--main-color);
            color: var(--white);
            white-space: nowrap;


            &::before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                // maskを使うとbackgroundcolorで色かえができる！！
                background-color: var(--white);
                mask-image: url(../img/common/icon-shopping-cart.svg);
                // containだと切れない
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center center;
            }
        }


        &__onlineShopSp {
            display: none;
        }

    }

}



// フッター
.l-footer {
    background: var(--gray2);
    padding-top: 14px;
    padding-bottom: 10px;

    &__logo {
        width: 230px;
        margin-inline: auto;
        margin-bottom: 20px;
    }

    &__copyright {
        display: block;
        text-align: center;
        color: var(--white);
        font-family: var(--font-family-en);
        font-size: 1.2rem;
    }
}